In [1]:
# List of high schools

high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [3]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [5]:
# a dictionary of high schools and the type of school

high_school_types = [{"High School": "Griffin", "Type": "District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [6]:
for school_types in high_school_types:
    print(school_types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [7]:
# list of high schools 
high_schools = ['Huang High School', 'Figueroa High School','Shelton High School','Hernandez High School','Griffin High School','Wilson High School','Cabrera High School','Bailey High School','Holden High School','Pena High School','Wright High School','Rodriguez High School','Johnson High School','Ford High School','Thomas High School']

In [8]:
# add pandas dependency
import pandas as pd

In [11]:
# create a pandas series from a list

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [12]:
# A dictionary of high schools

high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [13]:
school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [19]:
# three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District","District","Charter","District","Charter"]

In [20]:
# initialize a new DataFrame

schools_df = pd.DataFrame()

# add the list to a new dataframe

schools_df['School ID'] = school_id

schools_df['School Name'] = school_name

schools_df['Type'] = type_of_school

# print the dataframe

schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [22]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [30]:
# 3 separate lists on the full list of high schools

long_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]

long_school_name = ['Huang High School', 'Figueroa High School','Shelton High School','Hernandez High School','Griffin High School','Wilson High School','Cabrera High School','Bailey High School','Holden High School','Pena High School','Wright High School','Rodriguez High School','Johnson High School','Ford High School','Thomas High School']

long_school_type = ['District','District','Charter','District','Charter','Charter','Charter','District','Charter','Charter','Charter','District','District','District','Charter']

In [31]:
# initialize a new DataFrame

long_schools_df = pd.DataFrame()

# add the list to a new dataframe

long_schools_df['School ID'] = long_school_id

long_schools_df['School Name'] = long_school_name

long_schools_df['Type'] = long_type_of_school

# print the dataframe

long_schools_df

NameError: name 'long_type_of_school' is not defined